.U_red{
    color: red;
}
.I_orange{
    color: orange;
}
.I_red{
    color: red;
}
.temp_yellow{
    color: orange
}
.temp_orange{
    color: orangered;
}
.temp_red{
    color: red;
}
.oil_yellow{
    color: orange
}
.oil_orange{
    color: orangered;
}
.oil_red{
    color: red;
}